<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a98apps.recorderedge">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.SettingsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.DonateActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.HelpActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.ListVideos"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".permission.RequestPermission"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".util.SelectPath"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".permission.RequestStoragePermission"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".view.LauncherActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.98company.com"
                    android:pathPrefix="/apps/recorderedge"
                    android:scheme="https" />
                <data
                    android:host="apps/recorderedge"
                    android:scheme="98company" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".edge.CocktailScreenRecorder">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/edge_single_plus" />
        </receiver>

        <meta-data
            android:name="com.samsung.android.cocktail.mode"
            android:value="edge_single_plus" />

        <service android:name=".record.RecordService" />
        <service android:name=".floating.FrameRateWindow" />
    </application>

</manifest>